@import './Color.scss';
.dash-board-cards{
       width: 403px;
    height: 200px;
    box-shadow: 0 0 18px 0 $dashbrd-card-box-shadow;
    background: $dashbrd-card-background;
    border-radius:10px;
    .dashboard-card-headr{
     h1{
            color:$dashboard-card-hadr;
    }
    }
.dashboard-card-hr-line { 
      width: 361px;
    height: 1px;
    background:$dashboard-card-hr-vl-line;
}
.card-left-text {
           width: 192px;
        color:$dashboard-card-left-right-text;
    }
.dashboard-cards-vl-line{
    border: 1px solid #e0e0e0;
    height: 106px;
    width:1px;
}
.card-right-text {
        color:$dashboard-card-left-right-text;
    }
}
// Last Week campaign styling start
.last-week-main-dev{
    .Last-week-cards-main-dev{
        justify-content: space-evenly;
        
    }
.dashboard-Lastweek-Campaign-hdr{
width: 1311px;
    height: 69px;
    background-color:$Table-navbar;

}
.Last-week-card-section{
       width: 265px;
    height: 400px;
    box-shadow: 0 0 18px 0 $dashbrd-card-box-shadow;
     border-radius:10px;

}
}